<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend stuff</title>
</head>
<body>
    <h1>BAckend stuff</h1>
<form action='/backend_' method='post'>{% csrf_token %}
    <textarea name='name' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <textarea name='class' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <textarea name='section' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <textarea name='admission' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <textarea name='Discord' style='margin: 0px; width: 721px; height: 93px;'></textarea><br>
    <textarea name='no' style='margin: 0px; width: 721px; height: 93px;'></textarea>

    <button type='submit'>send</button>
</body>
</html>